@font-face {
	font-family: 'Tenor Sans';
	src: url('/fonts/TenorSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Noto Sans';
	src: url('/fonts/NotoSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Regular.ttf') format('truetype');
}