*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tenor Sans";
  text-transform: uppercase;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

@font-face {
  font-family: "Tenor Sans";
  src: url("/fonts/TenorSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf") format("truetype");
}
body {
  color: #141D38;
}

.container {
  max-width: 1218px;
  margin: 0 auto;
}

section {
  margin-bottom: 150px;
}

.title {
  font-weight: 400;
  font-size: 46px;
  line-height: 60px;
}

.title-general {
  text-align: center;
}

.desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  color: #464F6A;
}

.circle-text {
  background: #1E3A8F;
  width: 36px;
  height: 36px;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.header {
  border-bottom: 1px solid #1E3A8F;
  padding-top: 20px;
}

.inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  display: flex;
}

.menu-list_item {
  font-family: "Noto Sans";
}
.menu-list_item a {
  color: #141D38;
}

.sublist {
  border-top: 1px solid #1E3A8F;
  padding: 18px 0;
  margin-top: 20px;
}

.menu-sublist {
  display: flex;
  align-items: center;
}

.printOrder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 133px;
  position: relative;
  margin-top: 85px;
}

.main-img {
  background: #F1F4F7;
  width: 592px;
  height: 670px;
}

.printOrder-desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.printOrder-desc h1 {
  position: absolute;
  top: 50px;
  right: 0;
}

.category {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.category-item {
  width: 282px;
  height: 282px;
  background: #F1F4F7;
}
.category-item .blue-border_up::before {
  content: "";
  width: 282px;
  height: 282px;
  position: relative;
  top: -15px;
  right: 15px;
  border: 2px solid #1E3A8F;
  background: transparent;
}

.btn {
  background: #1E3A8F;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Noto Sans";
}

.emblem {
  background: #F1F4F7;
  height: 360px;
  position: relative;
}
.emblem h2 {
  position: absolute;
  left: 40px;
  top: -90px;
}

.order-emblem {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  bottom: 40px;
}

.brand-name {
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  text-transform: uppercase;
}

.about-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.footer {
  background: #141D38;
  color: #FFFFFF;
  padding: 80px 0;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  display: flex;
  flex-direction: column;
}
.footer-item .footer-item_desc {
  margin-top: 57px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.footer-item_socials .socials {
  display: flex;
  justify-content: center;
}
.footer-item_socials .socials .socials-icon:last-child {
  margin-right: 0;
}

.footer-item_number {
  align-items: flex-end;
}

.socials-icon {
  margin-right: 30px;
}

.number {
  display: flex;
  align-items: center;
}
.number span {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */