@media (max-width: 600px){
  .menu_icon{
    z-index: 5;
    display: block;
    position: relative;
    width: 20px;
    height: 12px;
    cursor: pointer;

    &::before,
    &::after,
    & span{
      position: absolute;
      left: 0;
      width: 100%;
      height: 10%;
      background-color: $text-primary;
      transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
    }
    &::before,&::after{
      content: '';
    }
    &::before{
      top: 0;
    }
    &::after{
      bottom: 0;
    }
    & span{
      top: 50%;
      transform: scale(1) translate(0px, -50%);
      -webkit-transform: scale(1) translate(0px, -50%);
      -moz-transform: scale(1) translate(0px, -50%);
      -ms-transform: scale(1) translate(0px, -50%);
      -o-transform: scale(1) translate(0px, -50%);
    }
  }
  .menu_icon._active{
    span{
      transform: scale(0) translate(0px, -50%);
      -webkit-transform: scale(0) translate(0px, -50%);
      -moz-transform: scale(0) translate(0px, -50%);
      -ms-transform: scale(0) translate(0px, -50%);
      -o-transform: scale(0) translate(0px, -50%);
    }
    &::before{
      top: 50%;
      transform: rotate(-45deg)  translate(0px, -50%);
      -webkit-transform: rotate(-45deg)  translate(0px, -50%);
      -moz-transform: rotate(-45deg)  translate(0px, -50%);
      -ms-transform: rotate(-45deg)  translate(0px, -50%);
      -o-transform: rotate(-45deg)  translate(0px, -50%);
    }
    &::after{
      bottom: 50%;
      transform: rotate(45deg)  translate(0px, 50%);
      -webkit-transform: rotate(45deg)  translate(0px, 50%);
      -moz-transform: rotate(45deg)  translate(0px, 50%);
      -ms-transform: rotate(45deg)  translate(0px, 50%);
      -o-transform: rotate(45deg)  translate(0px, 50%);
}
  }
  .header_menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    // background-color: rgba(255, 255, 255, .9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 30px 30px 30px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transform: translate(-100%, 0);
    overflow: auto;
}
  .header_menu::before{
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;
    
  }

  .header_menu._active{
    transform: translate(0, 0);
    -webkit-transform: translate(0%, 0);
    -moz-transform: translate(0%, 0);
    -ms-transform: translate(0%, 0);
    -o-transform: translate(0%, 0);
}
}