:root {
  --white: #FFFFFF;
  --grey: #F1F4F7;
  --grey-ligth: #BEC7E2;
  --primary: #1E3A8F;
  --primary-dark: #141D38;
  --primary-ligth: #F0F6FB;
  --text-primary: #141D38;
  --text-secondary: #464F6A;
  --red: #AD0019;
  --green: #48C95F;
  --black: #000000;
  --text-dark: #141D38;

  --border-table: #EDEFF5;

  --btn-passive: #BEC7E2;
  --height: 100%;
}


// var(--white): #FFFFFF;
// var(--grey): #F1F4F7;
// var(--primary): #1E3A8F;
// var(--text-primary): #141D38;
// var(--text-secondary): #464F6A;