.footer {
  background: var(--text-primary);
  color: #FFFFFF;
  padding: 80px 0;
  font-family: 'Noto Sans';

  &-inner {
    display: flex;
    justify-content: space-between;
  }

  &-item {
    display: flex;
    flex-direction: column;

    &_desc {
      margin-top: 57px;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
    }

    &_socials {
      .socials {
        display: flex;
        justify-content: center;

        &-icon:last-child {
          margin-right: 0;
        }
      }
    }

    &_number {
      align-items: flex-end;

      span {
        font-family: 'Tenor Sans';
      }
    }
  }
}


.socials-icon {
  margin-right: 30px;
}

.number {
  display: flex;
  align-items: center;

  span {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
  }
}

@media (max-width: 1218px) {
  .footer {
    &-inner {
      padding: 0 10px;
    }
  }
}