.footer{
  background: var(--text-primary);
  color: #FFFFFF;
  padding: 80px 0;
}
.footer-inner{
  display: flex;
  justify-content: space-between;
}
.footer-item{
  display: flex;
  flex-direction: column;
  .footer-item_desc{
    margin-top: 57px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
  }
}
.footer-item_socials{
  .socials{
    display: flex;
    justify-content: center;
    .socials-icon:last-child{
      margin-right: 0;
    }
  }
}
.footer-item_number{
  align-items: flex-end;
}
.socials-icon{
  margin-right: 30px;
}
.number{
  display: flex;
  align-items: center;
  span{
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
  }
}
// main media

